@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Abril Fatface';
  src: url("../fonts/AbrilFatface-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  color: #393939;
  font-family: 'Muli', sans-serif; }

ul, li {
  padding: 0;
  margin: 0;
  display: block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-toggle {
  display: none; }

#header {
  width: 100%;
  height: 60px;
  background: #16141a;
  margin: 0px auto;
  -webkit-box-shadow: 0 1px 3px 0 rgba(14, 48, 72, 0.5);
  box-shadow: 0 1px 3px 0 rgba(14, 48, 72, 0.5); }

.logo {
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3px; }
  .logo .logo-img {
    background-size: auto;
    margin-right: 7px; }
  .logo .logo-text h1, .logo .logo-text p {
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    margin: 0;
    padding: 0; }
  .logo .logo-text p {
    font-size: 9px; }

.main-menu {
  margin-top: 20px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .main-menu ul li {
    margin-left: 25px; }
  .main-menu a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 20px;
    opacity: 0.9;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .main-menu a:hover {
    opacity: 1; }

#review {
  height: auto; }

.review-head {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 0px 22px 0px; }
  .review-head h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    margin: 0;
    padding: 0; }
  .review-head .review-head_btn {
    width: 148px;
    height: 40px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    border: none;
    background: none; }
    .review-head .review-head_btn a {
      color: #000000;
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
      text-decoration: none; }

.one {
  border: 1px solid #d2021d; }

.one:after {
  background: #ea053a;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg); }

.animated-button:link:after,
.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s; }

.animated-button:link:hover:after,
.animated-button:visited:hover:after {
  height: 450%; }

.animated-button:link,
.animated-button:visited {
  position: relative;
  display: block;
  margin: -5px auto;
  padding: 10px 15px;
  overflow: hidden;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.review-body img {
  width: 100%; }

.review-foot {
  width: 620px;
  margin-top: 21px; }
  .review-foot p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 0; }

#content {
  height: auto; }

.content-box {
  margin-top: 42px;
  width: 620px;
  height: 279px;
  background: rgba(235, 238, 240, 0.3);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 80px; }
  .content-box li {
    display: list-item;
    font-weight: 700; }
  .content-box li:before {
    content: "0" counter(item);
    counter-increment: item;
    margin-right: 10px; }
  .content-box ol {
    padding: 0;
    margin: 0;
    counter-reset: item;
    list-style-type: none; }
  .content-box a {
    color: #393939;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    text-decoration: none;
    cursor: pointer; }

.sites {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .sites .sites-title {
    width: 239px;
    color: #1c222d;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .sites .sites-box {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .sites .sites-box p {
      color: #274655;
      font-size: 13px;
      text-transform: uppercase;
      margin: 0; }
  .sites .sites-box_logo {
    width: 100px;
    height: 60px;
    border: 1px solid #ebeef0;
    text-align: center;
    margin-right: 10px; }
  .sites .sites-box_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .sites .sites-box_text h4 {
      color: #232632;
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
      margin: 0px; }
    .sites .sites-box_text a {
      color: #4a90e2;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px; }
  .sites .line {
    width: 239px;
    height: 2px;
    background: #EBEEF0;
    margin: 19px 0 19px 0; }

.valentime img,
.charmerly img {
  margin: 7px 0px 3px 0px; }

.romance img,
.love img {
  margin-top: 17px; }

.rating {
  width: 100px;
  float: left; }
  .rating span {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    padding: 4px; }

.unit-rating {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 20px;
  position: relative;
  background: url("../img/icons8-christmas-star-24.png") repeat-x 0 0;
  background-size: contain; }
  .unit-rating li {
    text-indent: -9999em;
    padding: 0;
    margin: 0;
    float: left; }
    .unit-rating li a {
      display: block;
      text-decoration: none;
      z-index: 17;
      position: absolute;
      padding: 0;
      width: 20px;
      height: 20px; }

li.current-rating {
  background: url("../img/icons8-christmas-star-24 (2).png") 0 0;
  position: absolute;
  background-size: contain;
  height: 20px;
  display: block;
  text-indent: -9999em;
  z-index: 1; }

.unit-rating:hover .current-rating {
  overflow: hidden;
  opacity: 0; }

.unit-rating li a:hover {
  left: 0;
  background: url("../img/icons8-christmas-star-24 (2).png") repeat-x 0 0;
  cursor: pointer;
  background-size: contain;
  z-index: 2; }

.r1-unit {
  left: 0; }

.r1-unit:hover {
  width: 20px; }

.r2-unit {
  left: 20px; }

.r2-unit:hover {
  width: 40px; }

.r3-unit {
  left: 40px; }

.r3-unit:hover {
  width: 60px; }

.r4-unit {
  left: 60px; }

.r4-unit:hover {
  width: 80px; }

.r5-unit {
  left: 80px; }

.r5-unit:hover {
  width: 100px; }

#overview {
  height: auto;
  padding-bottom: 62px; }

.overview-left h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
  letter-spacing: 0px; }

.overview-left p {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  width: 620px; }

.overview-right {
  margin-top: 165px;
  margin-left: 50px; }
  .overview-right h3 {
    color: #1c222d;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .overview-right p {
    color: #232632;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    margin: 20px 0px 5px 0px; }
  .overview-right span {
    color: #1b202c;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    width: 238px;
    display: block;
    margin-bottom: 25px; }
  .overview-right .overview-right_btn button {
    width: 115px;
    height: 40px;
    background: #a7b4ba;
    border: none;
    outline: none;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .overview-right .overview-right_btn button a {
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      text-decoration: none; }
  .overview-right .overview-right_btn .hot_btn:hover {
    background: #369920; }

#footer {
  background: url("../img/8_objects.png") no-repeat center center;
  width: 100%;
  height: 160px; }
  #footer h5 {
    color: #ffffff;
    font-family: 'Abril Fatface', cursive;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    margin: 27px 0px 10px 0px; }

.footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

article {
  width: 1140px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-form .form-group {
  display: inline-block; }
  .footer-form .form-group input {
    border-radius: 3px 0px 0px 3px;
    width: 366px;
    height: 40px;
    border: 1px solid #ffffff;
    background: none;
    opacity: 0.8;
    padding-left: 40px;
    color: #FFFFFF; }
  .footer-form .form-group .form-control,
  .footer-form .form-group .form-control:active,
  .footer-form .form-group .form-control:hover,
  .footer-form .form-group .form-control:focus {
    outline: 0;
    outline-offset: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

.footer-form .btn {
  border-radius: 0px 3px 3px 0px;
  width: 168px;
  height: 40px;
  color: #d0021b;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  opacity: 0.8;
  background-color: #ffffff;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left: -4px; }

.footer-form .btn:hover {
  -webkit-box-shadow: 0px 0px 17px 0px #d0021b;
  box-shadow: 0px 0px 17px 0px #d0021b; }

.footer-menu {
  height: 160px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-menu li {
    margin-left: 30px; }
    .footer-menu li a {
      color: #ffffff;
      font-size: 17px;
      font-weight: 700;
      line-height: 23px;
      text-decoration: none; }

.footer-up .wrap {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px auto 30px auto; }
  .footer-up .wrap:last-child {
    margin-bottom: 0; }

.footer-up .clicker {
  border: 1px solid #d0021b;
  background: #d0021b;
  outline: none;
  position: absolute;
  cursor: pointer;
  padding: 0;
  height: 44px;
  width: 44px;
  left: 30px;
  top: 36px;
  border-radius: 50%;
  z-index: 2 !important; }

.footer-up .circle {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 1;
  top: 33px;
  left: 27px; }

.footer-up .clicker:hover + .circle, .footer-up .clicker:active + .circle {
  -webkit-animation: rotator linear .8s infinite;
  animation: rotator linear .8s infinite; }

@-webkit-keyframes rotator {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotator {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.footer-up .angled {
  background-image: linear-gradient(45deg, black 0%, black 30%, white 30%, white 70%, black 70%, black 100%); }

.menu {
  text-align: right;
  display: none; }

.menu__icon {
  display: none;
  width: 30px;
  height: 35px;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 10; }
  .menu__icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #D2021D;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }

.menu__icon span:nth-child(1) {
  top: 0px; }

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
  top: 10px; }

.menu__icon span:nth-child(4) {
  top: 20px; }

.menu__links-item {
  display: inline-block;
  color: #16141A;
  font-family: Arial;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer; }

.menu__links-item:hover {
  text-decoration: underline; }

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu.menu_state_open .menu__icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu.menu_state_open .menu__icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.menu.menu_state_open .menu__links {
  display: block; }
