@import "fonts";
$color: #393939;

body{
  color: $color;
  font-family: 'Muli', sans-serif;
}
ul, li{
  padding: 0;
  margin: 0;
  display: block;
}

.d-flex{
  display: flex;
}

.menu-toggle{
  display: none;
}

//Description Header
#header{
  width: 100%;
  height: 60px;
  background: #16141a;
  margin: 0px auto;
  box-shadow: 0 1px 3px 0 rgba(14, 48, 72, 0.5);
}

.logo{
  cursor: pointer;
  align-items: center;
  margin-top: 3px;
  .logo-img{
    background-size: auto;
    margin-right: 7px;
  }

  .logo-text{
    h1, p{
      color: #ffffff;
      font-size: 26px;
      font-weight: 700;
      text-align: left;
      margin: 0;
      padding: 0;
    }

    p{
      font-size: 9px;
    }
  }
}
.main-menu{
  margin-top: 20px;
  justify-content: flex-end;
  ul li{
    margin-left: 25px;
  }
  a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 20px;
    opacity: 0.9;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    transition: all 0.5s ease;
  }

  a:hover{
    opacity: 1;
  }
}

//Description Review
#review{
  height: auto;
}
.review-head{
  justify-content: space-between;
  padding: 25px 0px 22px 0px;
  h1{
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  .review-head_btn{
    width: 148px;
    height: 40px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    border: none;
    background: none;
    a{
      color: #000000;
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
      text-decoration: none;
    }
  }
}
.one {
  border: 1px solid #d2021d;
}
.one:after {
  background: #ea053a;
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
.animated-button:link:after,
.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  transition: all 0.75s ease 0s;
}
.animated-button:link:hover:after,
.animated-button:visited:hover:after {
  height: 450%;
}
.animated-button:link,
.animated-button:visited {
  position: relative;
  display: block;
  margin: -5px auto;
  padding: 10px 15px;
  overflow: hidden;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
}

.review-body{
  img{
    width: 100%;
  }
}
.review-foot{
  width: 620px;
  margin-top: 21px;
  p{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 0;
  }
}

//Description Content
#content{
  height: auto;
}
.content-box{
  margin-top: 42px;
  li{
    display: list-item;
    font-weight: 700;
  }
  li:before {
    content: '0' counter(item);
    counter-increment: item;
    margin-right: 10px;
  }
  width: 620px;
  height: 279px;
  background: rgba(235, 238, 240, 0.3);
  align-items: center;
  padding-left: 80px;
  ol{
    padding: 0;
    margin: 0;
    counter-reset: item;
    list-style-type: none;
  }
  a{
    color: $color;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
  }
}
.sites{
  align-items: center;
  flex-direction: column;
  .sites-title{
    width: 239px;
    color: #1c222d;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .sites-box{
    justify-content: flex-start;
    p{
      color: #274655;
      font-size: 13px;
      text-transform: uppercase;
      margin: 0;
    }
  }
  .sites-box_logo{
    width: 100px;
    height: 60px;
    border: 1px solid #ebeef0;
    text-align: center;
    margin-right: 10px;
  }
  .sites-box_text{
    flex-direction: column;
    justify-content: space-between;
    h4{
      color: #232632;
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
      margin: 0px;
    }
    a{
      color: #4a90e2;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
    }
  }
  .line{
    width: 239px;
    height: 2px;
    background: #EBEEF0;
    margin: 19px 0 19px 0;
  }
}
.valentime,
.charmerly{
  img{
    margin: 7px 0px 3px 0px;
  }
}
.romance,
.love{
  img{
    margin-top: 17px;
  }
}

//Rating
.rating {
  width: 100px;
  float: left;
  span{
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    padding: 4px;
  }
}
.unit-rating {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 20px;
  position: relative;
  background: url("../img/icons8-christmas-star-24.png") repeat-x 0 0;
  background-size: contain;
  li{
    text-indent: -9999em;
    padding: 0;
    margin: 0;
    float: left;
    a{
      display: block;
      text-decoration: none;
      z-index: 17;
      position: absolute;
      padding: 0;
      width: 20px;
      height: 20px;
    }
  }
}
li.current-rating {
  background: url("../img/icons8-christmas-star-24 (2).png") 0 0;
  position: absolute;
  background-size: contain;
  height: 20px;
  display: block;
  text-indent: -9999em;
  z-index: 1;
}
.unit-rating:hover .current-rating{
  overflow: hidden;
  opacity: 0;
}
.unit-rating li a:hover{
  left: 0;
  background: url("../img/icons8-christmas-star-24 (2).png")repeat-x 0 0;
  cursor: pointer;
  background-size: contain;
  z-index: 2;
}
.r1-unit{left: 0;}
.r1-unit:hover{width: 20px;}
.r2-unit{left: 20px;}
.r2-unit:hover{width: 40px;}
.r3-unit{left: 40px;}
.r3-unit:hover{width: 60px;}
.r4-unit{left: 60px;}
.r4-unit:hover{width: 80px;}
.r5-unit{left: 80px;}
.r5-unit:hover{width: 100px;}

//Description Overview
#overview{
  height: auto;
  padding-bottom: 62px;
}
.overview-left{
  h2{
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    letter-spacing: 0px;
  }
  p{
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    width: 620px;
  }
}
.overview-right{
  margin-top: 165px;
  margin-left: 50px;
  h3{
    color: #1c222d;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  p{
    color: #232632;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    margin: 20px 0px 5px 0px;
  }
  span{
    color: #1b202c;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    width: 238px;
    display: block;
    margin-bottom: 25px;
  }
  .overview-right_btn{
    button{
      width: 115px;
      height: 40px;
      background: #a7b4ba;
      border: none;
      outline: none;
      margin-right: 5px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.5s ease;
      a{
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
      }
    }
    .hot_btn:hover{
      background: #369920;
    }
  }
}

//Description Footer
#footer{
  background: url("../img/8_objects.png") no-repeat center center;
  width: 100%;
  height: 160px;
  h5{
    color: #ffffff;
    font-family: 'Abril Fatface', cursive;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    margin: 27px 0px 10px 0px;
  }
}
.footer{
  justify-content: center;
}
article{
  width: 1140px;
  justify-content: space-between;
}
.footer-form{
  .form-group{
    display: inline-block;
    input{
      border-radius: 3px 0px 0px 3px;
      width: 366px;
      height: 40px;
      border: 1px solid #ffffff;
      background: none;
      opacity: 0.8;
      padding-left: 40px;
      color: #FFFFFF;
    }
    .form-control,
    .form-control:active,
    .form-control:hover,
    .form-control:focus {
      outline: 0;
      outline-offset: 0;
      box-shadow: none;
    }
  }
  .btn{
    border-radius: 0px 3px 3px 0px;
    width: 168px;
    height: 40px;
    color: #d0021b;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    opacity: 0.8;
    background-color: #ffffff;
    border: none;
    outline: none;
    box-shadow: none;
    transition: all 0.5s ease;
    margin-left: -4px;
  }
  .btn:hover {
    box-shadow: 0px 0px 17px 0px rgba(208,2,27,1);
  }
}
.footer-menu{
  height: 160px;
  justify-content: flex-end;
  align-items: center;
  li{
    margin-left: 30px;
    a{
      color: #ffffff;
      font-size: 17px;
      font-weight: 700;
      line-height: 23px;
      text-decoration: none;
    }
  }

}

.footer-up{
  .wrap{
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px auto 30px auto;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .clicker{
    border: 1px solid #d0021b;
    background: #d0021b;
    outline: none;
    position:absolute;
    cursor: pointer;
    padding: 0;
    height: 44px;
    width: 44px;
    left: 30px;
    top: 36px;
    border-radius: 50%;
    z-index: 2 !important;
  }
  .circle{
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: 33px;
    left: 27px;
  }
  .clicker:hover + .circle, .clicker:active + .circle {
    animation: rotator linear .8s infinite;
  }
  @keyframes rotator{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
  }
  .angled {
    background-image: linear-gradient(45deg,
            black 0%,
            black 30%,
            white 30%,
            white 70%,
            black 70%,
            black 100%);
  }
}

@import "hamburger";