@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Abril Fatface';
  src: url('../fonts/AbrilFatface-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
