@charset "UTF-8";
@import "fonts";
$color: #ffffff;

body{
  color: $color;
  font-family: 'ProximaNova', sans-serif;
  outline: none;
}
button{
  outline: none;
}
ul, li{
  padding: 0;
  margin: 0;
  display: block;
}
h2{
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.d-flex{
  display: flex;
}

.menu-toggle{
  display: none;
}

.btn-box_cool {
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 4px;
  cursor: pointer;
}
.btn-box_cool:hover {
  background-position: right center;
}
.btn-1 {
  background-image: linear-gradient(to right, #84fab0 0%, #04b571 51%, #84fab0 100%);
}


.navigation{
  background: none;
  width: fit-content;
  height: auto;
  position: fixed;
  transform: rotate(270deg);
  top: 19%;
  left: -45px;
  z-index: 1000;
  ul{
    li:nth-child(2),
    li:nth-child(4),
    li:nth-child(6){
      margin: 0px 10px;
    }
    li{
      a{
        color: #000000;
        text-decoration: none;
        font-weight: 400;
        font-size: 15px;
        transition: all 0.5s ease;
      }
      & a:hover{
        color: #8accca;
      }
    }
  }
}

//Description Header
#header{
  background: url("../img/bg_head.png") no-repeat center top;
  width: 100%;
  height: 778px;
  padding-top: 40px;
}
.logo{
  img{
    width: 100%;
    height: 100%;
  }
}
.menu{
  justify-content: flex-end;
  align-items: center;
  padding-top: 8px;
  .head-menu{
    li{
      margin-left: 10px;
      a{
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        transition: all 0.5s ease;
        position:relative;
      }
      a:hover{
        color: #8accca;
      }
    }
  }
}
.menu__item a:after{
  background-color: #8accca;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  left:50%;
  position:absolute;
  transition: width .3s ease-in-out;
  transform:translateX(-50%);
}
.menu__item a:hover:after,
.menu__item a:focus:after{
  width: 100%;
}
.head-title{
  flex-direction: column;
  align-items: center;
  .title{
    text-align: center;
    margin-top: 130px;
    h1{
      font-weight: 700;
      font-size: 72px;
      margin: 0px 0px;
    }
    p{
      font-weight: 300;
      font-size: 60px;
      margin: 0px 0px;
    }
    span{
      font-family: Arial, sans-serif;
      font-style: italic;
      font-size: 24px;
    }
  }
  .header-btn{
    margin-top: 75px;
    margin-bottom: 125px;
    width: 285px;
    height: 61px;
    outline: none;
    a{
      font-size: 18px;
      font-weight: 700;
      color: #242024;
      text-decoration: none;
    }
  }
  .btn-down{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all 0.5s ease;
    .btn-down_1{
      background: url("../img/icons8-near-me-24.png");
      width: 24px;
      height: 24px;
      transform: rotate(135deg);
      margin: 0 auto;
      transition: all 0.5s ease;
    }
  }
  .btn-down:hover{
    border: 1px solid #8accca;
    .btn-down_1{
      background: url("../img/icons8-near-me-24 (1).png");
      width: 24px;
      height: 24px;
      transform: rotate(135deg);
      margin: 0 auto;
    }
  }
}

//Description Offer
#offer{
  width: 100%;
  height: auto;
  padding-top: 50px;
  h2{
    color: #242024;
  }
}
.offer-menu{
  margin: 0 auto;
  width: fit-content;
  ul{
    li{
      a{
        font-size: 18px;
        font-weight: 300;
        color: #242024;
        text-decoration: none;
        transition: all 0.5s ease;
        position: relative;
      }
    }
    li:hover a{
      color: #3cbcb8;
    }
    li:nth-child(2){
      margin: 0px 40px;
    }
    li:nth-child(3){
      margin-right: 40px;
    }
  }
  .menu__item a:after{
    background-color: #8accca;
    display: block;
    content: "";
    height: 5px;
    width: 0%;
    left:50%;
    position:absolute;
    transition: width .3s ease-in-out;
    transform:translateX(-50%);
  }
  .menu__item a:hover:after,
  .menu__item a:focus:after{
    width: 100%;
  }
  .offer-menu__box{
    width: 100%;
    height: 6px;
    border: 1px solid #eaeaea;
    background: #eaeaea;
  }
}
.offer-box{
  padding-top: 20px;
  .offer-box_img{
    width: max-content;
    height: max-content;
    border: 1px solid #e0e0e0;
    img{
      width: auto;
      height: auto;
    }
  }
  .offer-box_content{
    width: auto;
    align-items: flex-end;
    justify-content: space-between;
    .offer-box_text{
      h5{
        font-size: 18px;
        font-weight: 700;
        color: #242024;
        margin: 10px 0px;
      }
      p{
        font-weight: 700;
        font-size: 24px;
        color: #89ccca;
        margin: 0px;
      }
    }
    .offer-box_btn{
      width: 135px;
      height: 35px;
      background: #04b571;
      border-radius: 2px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.5s ease;
      img{
        margin-right: 8px;
      }
      a{
        margin-top: 2px;
        font-weight: 700;
        font-size: 16px;
        color: #feffff;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
    .offer-box_btn:hover{
      background: none;
      border: 1px solid #04b571;
      transition: all 0.5s ease;
      a{
        color: #04b571;
      }
      img{
        display: none;
      }
    }
  }
}
.offer-products_btn{
  display: block;
  width: 275px;
  height: 55px;
  border: 2px solid #89ccca;
  margin: 40px auto;
  background: none;
  cursor: pointer;
  transition: all 0.5s ease;
  a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #89ccca;
    transition: all 0.5s ease;
  }
}
.offer-products_btn:hover{
  border: 2px solid #04b571;
  background: #04b571;
  a{
    color: #ffffff;
  }
}

//Description Special
#special{
  background: url("../img/bg_2.png") no-repeat center top;
  width: 100%;
  height: 726px;
  padding-top: 60px;
}
.special-title{
  text-align: center;
  h2{
    color: #242024;
  }
}
.special-box{
  width: 470px;
  height: auto;
  margin-top: 40px;
  .special-box_title{
    align-items: center;
    width: 100%;
    height: 65px;
    background: #434243;
    h4{
      font-size: 24px;
      font-weight: 300;
      width: 100%;
    }
    img{
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin: 0px 10px;
    }
    .hide{
      transform: rotate(90deg);
    }
  }
  .special-box_text{
    height: auto;
    display: none;
    background: #ffffff;
    align-items: center;
    padding: 27px 15px;
    p{
      color: #242024;
      margin: 0;
      font-size: 14px;
      font-weight: 300;
    }
  }
}
.special-btn{
  margin: 40px 0px 70px 0px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  a{
    color: #242024;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
  }
}
button.special-btn{
  outline: none;
}
.white-line{
  width: 100%;
  height: 1px;
  background: #ffffff;
}

//Description Advantage
#advantage{
  background: #89ccca;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  padding-top: 30px;
  h2{
    padding-bottom: 15px;
  }
}
.advantage-box{
  .advantage-box_item{
    img{
      width: 100%;
      cursor: pointer;
      transition: all 0.7s ease;
    }
    img:hover{
      transform: scale(1.05);
    }
    .advantage-box_title{
      width: 100%;
      height: 60px;
      background: #242024;
      align-items: center;
      justify-content: center;
      .advantage-line_left{
        width: 3px;
        height: 50%;
        background: #ffffff;
        transition: all 0.5s ease;
      }
      .advantage-line_right{
        width: 3px;
        border: 1px solid #ffffff;
        height: 50%;
        background: #ffffff;
        transition: all 0.5s ease;
      }
      h5{
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        width: 100%;
        display: block;
        text-align: center;
        text-transform: uppercase;
      }
    }
    img:hover + .advantage-box_title .advantage-line_right,
    img:hover + .advantage-box_title .advantage-line_left{
      height: 100%;
    }
  }
}
.advantage-box .advantage-box_item:last-child{
  h5{
    width: 101%;
  }
}

//Description Work
#work{
  background: #ffffff;
  width: 100%;
  height: 385px;
  color: #242024;
  padding-top: 50px;
}
.work-title{
  h2{
    margin-bottom: 0;
  }
  p{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin: 0;
  }
}
.work_box{
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      width: auto;
      height: auto;
      cursor: pointer;
      margin-bottom: 10px;
    }
  }
  img{
    width: 24px;
    height: 24px;
    margin: 0px 0px 0px 5px;
  }
  .work_box-text{
    h5{
      font-size: 18px;
      font-weight: 700;
      margin: 0;
    }
    p{
      font-weight: 300;
      font-size: 16px;
      margin: 0;
    }
  }
}

//Description Advice
#advice{
  background: url("../img/bg_3.png") no-repeat center center;
  width: 100%;
  height: 368px;
  padding-top: 105px;
}
.advice-form{
  flex-direction: column;
  align-items: flex-start;
  h2{
    text-align: left;
    color: #242024;
    padding-bottom: 30px;
  }
  input[type="text"]{
    width: 290px;
    height: 60px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 300;
    color: #242024;
    padding-left: 40px;
    border: none;
    outline: none;
  }
  input[type="submit"]{
    width: 180px;
    height: 60px;
    margin-left: 5px;
    border: none;
    background: #04b571;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  input[type="submit"]:hover{
    border-radius: 10px;
  }
  form{
    input[type="text"]:first-child{
      background: url("../img/advice_1.png") no-repeat center left 10px;
      background-color: #ffffff;
    }
    input[type="text"]:nth-child(2){
      background: url("../img/advice_2.png") no-repeat center left 10px;
      background-color: #ffffff;
    }
  }
}
#messageName,
#messageTel,
#messageEmail{
  color: #c83033;
  margin-top: 10px;
  margin-bottom: -70px;
  font-size: 18px;
  font-weight: 300;
}


//Description Comment
#comment{
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 50px;
  h2{
    color: #242024;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.d-block{
  justify-content: center;
  align-items: center;
}
.comment_box{
  width: 450px;
  height: 330px;
  box-shadow: 0px 0px 19px 0px rgba(138,130,138,1);
}
.carousel-item{
  .d-block{
    width: 100%;
    height: 350px;
    .comment_box:first-child{
      margin-right: 20px;
    }
    .comment_box:last-child{
      margin-left: 20px;
    }
    .comment_box{
      color: #242024;
      flex-direction: column;
      align-items: center;
      img{
        margin: 20px 0px;
      }
      h4{
        font-size: 21px;
        font-weight: 700;
      }
      p{
        font-size: 16px;
        font-weight: 300;
        width: 90%;
        text-align: center;
        line-height: 30px;
        font-style: italic;
      }
    }
  }
}
.comment-prev-left{
  background: url("../img/comment-left.png") no-repeat center center;
  width: 46px;
  height: 70px;
  margin-right: 90px;
  transition: all 0.5s ease;
}
.comment-prev-right{
  background: url("../img/comment-right.png") no-repeat center center;
  width: 46px;
  height: 70px;
  margin-left: 90px;
  transition: all 0.5s ease;
}
.comment-prev-left:hover{
  background: url("../img/comment-left_2.png") no-repeat center center;
}
.comment-prev-right:hover{
  background: url("../img/comment-right_2.png") no-repeat center center;
}

//Description Rating
#rating{
  background: url("../img/bg_4.png") no-repeat center top;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 50px;
}
.rating-box{
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  p{
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
  }
  .rating-box_bix{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: none;
    justify-content: center;
    align-items: center;
    border: 7px solid #242024;
    z-index: 10;
    .rating-box_small{
      font-size: 40px;
      font-weight: 700;
      width: 116px;
      height: 116px;
      border-radius: 50%;
      background: none;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }
}

//Description Paper
#paper{
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 50px;
  h2{
    color: #242024;
  }
}
.paper-box{
  color: #242024;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  img{
    width: auto;
    height: auto;
  }
  h4{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 25px 0px;
  }
  p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
  }
  .paper-box_btn{
    width: 135px;
    height: 35px;
    background: #04b571;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .paper-box_btn:hover{
    background: none;
    border: 1px solid #04b571;
    color: #242024;
  }
}

//Description Mail
#mail{
  background: url("../img/bg_5.png") no-repeat center top;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 50px;
}
.mail-box{
  color: #242024;
  h2{
    padding-bottom: 5px;
  }
  p{
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 30px;
  }
  input[type="email"]{
    width: 500px;
    height: 60px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: 300;
    color: #242024;
    padding-left: 40px;
    border: none;
    outline: none;
  }
  input[type="submit"]{
    width: 180px;
    height: 60px;
    margin-left: 5px;
    border: none;
    background: #04b571;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    color: #242024;
    transition: all 0.5s ease;
  }
  input[type="submit"]:hover{
    border-radius: 10px;
  }
  form{
    padding-bottom: 35px;
    input:first-child{
      background: url("../img/mail.png") no-repeat center left 10px;
      background-color: #ffffff;
    }
  }
}

//Description Contact
#contact{
  width: 100%;
  height: auto;
  padding-top: 40px;
  h2{
    color: #242024;
    margin-bottom: 40px;
  }
}
.contact-box{
  height: 130px;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  .contact-box_content{
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0px;
    img{
      width: 50px;
      height: 100%;
      margin-right: 30px;
    }
    .contact-box_text{
      color: #242024;
      flex-direction: column;
      justify-content: center;
      h4{
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
      }
      p{
        font-size: 16px;
        font-weight: 300;
        margin: 0;
      }
    }
  }
}
.contact-up{
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 35px auto;
  img{
    opacity: 0.5;
    transition: all 0.5s ease;
  }
}
.contact-up:hover img{
  opacity: 1;
}
#map{
  width: 100%;
  height: 420px;
  z-index: 100;
  margin-top: 30px;
}

//Description Contact
#footer{
  width: 100%;
  height: auto;
  background: #242024;
  .footer-image{
    width: 600px;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .footer-info{
    padding: 40px 0px;
    margin-left: 30px;
    .footer-info_logo{
      img{
        width: 160px;
        margin-bottom: 40px;
      }
    }
    .footer-info_item{
      width: 300px;
      h5{
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
      }
      ul{
        li{
          display: list-item;
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
  #footer-form{
    margin-top: 20px;
    width: 250px;
    div{
      font-size: 18px;
      font-weight: 700;
      text-align: center;
    }
    #messageFooterName,
    #messageFooterEmail,
    #messageQuestion{
      color: #c83033;
      font-size: 16px;
      margin: 0;
      padding: 0;
      font-weight: 300;
    }
    input[type="text"],
    input[type="email"]{
      margin-bottom: 5px;
      outline: none;
      width: 100%;
      padding-left: 20px;
    }
    textarea{
      outline: none;
      padding-left: 20px;
      width: 100%;
    }
    input[type="submit"]{
      margin: 0 auto;
      text-align: center;
      cursor: pointer;
      width: 200px;
      height: 45px;
      background: #04b571;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: #242024;
      transition: all 0.5s ease;
    }
    input[type="submit"]:hover{
      border-radius: 10px;
    }
  }
}
.clear{
  height: 0;
}

