@font-face {
  font-family: 'FreightSansPro';
  src: url('../fonts/FreightSansPro-Med.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FreightSansPro';
  src: url('../fonts/FreightSansPro-Semi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


