@media screen and (max-width: 1200px) {
  .menu__items {
    margin-left: 25px; }
  .line__2-position {
    right: 32px; }
  .line__1-position {
    left: 35px; }
  #nav-btns {
    position: inherit;
    padding: 0;
    margin: 50px 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .experience__box-img1,
  .experience__box-img2,
  .experience__box-img3 {
    -webkit-background-size: contain;
            background-size: contain;
    width: 100%;
    height: 290px;
    margin: 0px;
    padding: 0px; }
  .software {
    width: 230px; }
  .software__title {
    font-size: 23px; }
  .software__text {
    font-size: 14px; }
  .progress__download-text {
    margin-right: 10px; }
  .skills-4, .skills-5, .skills-6 {
    margin: 0 10px 0 55px; }
  .layout__circle,
  .layout {
    width: 230px;
    height: 230px; }
  .layout_one,
  .layout_two,
  .layout_three,
  .layout_four {
    -webkit-background-size: contain;
            background-size: contain; }
  .layout__circle-small_line {
    top: 113px;
    left: 30px; }
  .works__btn {
    margin: 50px auto; } }

@media screen and (max-width: 991px) {
  #header {
    height: 550px; }
  .button {
    width: 200px;
    height: 40px; }
  .button a {
    font-size: 14px; }
  .menu__items a {
    font-size: 16px; }
  .menu__items {
    margin-left: 15px; }
  #cross {
    margin-top: 0px; }
  #menu-toggle {
    width: 40px;
    height: 29px; }
  #hamburger .hamburger__line {
    width: 30px;
    margin: 5px 0; }
  #cross .hamburger__line:nth-child(2) {
    left: 8%;
    top: 31px; }
  #cross .hamburger__line:nth-child(1) {
    top: 57%;
    left: 16px; }
  h1 {
    font-size: 30px; }
  .line {
    width: 215px;
    margin-left: 20px; }
  .header__text {
    font-size: 30px; }
  .ch-item {
    width: 200px;
    height: 200px; }
  .ch-img-1,
  .ch-img-2,
  .ch-img-3 {
    -webkit-background-size: contain;
            background-size: contain; }
  .ch-info h3 {
    font-size: 15px;
    margin: 0 37px;
    padding: 75px 0 0 0; }
  #experience {
    height: 600px; }
  .experience__line {
    display: none; }
  .experience__title {
    font-size: 30px; }
  .slide .line {
    width: 155px;
    margin-left: 98px; }
  #slidewrapper .slide:nth-child(3) .line {
    width: 105px;
    margin-left: 100px; }
  #nav-btns {
    margin: 45px 170px; }
  .experience__box {
    height: 320px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .experience__box-img1, .experience__box-img2, .experience__box-img3 {
    -webkit-background-size: contain;
            background-size: contain;
    height: 220px; }
  .experience__box-title {
    font-size: 15px;
    margin-bottom: 15px; }
  .experience__box-text {
    font-size: 12px;
    margin-bottom: 15px; }
  .experience__box-intro {
    display: none; }
  .experience__box-img1 {
    background: url(../img/hobbi1.jpeg) no-repeat center top; }
  .experience__box-img2 {
    background: url(../img/hobbi2.jpeg) no-repeat center top; }
  .experience__box-img3 {
    background: url(../img/hobbi3.jpeg) no-repeat center top; }
  .hobbies__box-text {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px; }
  .software {
    margin-bottom: 10px; }
  h2 {
    font-size: 30px; }
  .skills__line {
    width: 75px;
    margin-left: 218px;
    margin-bottom: 30px; }
  .works__title {
    font-size: 30px; }
  .works__line {
    width: 250px;
    margin-left: 232px;
    margin-bottom: 20px; }
  .layout {
    margin: 5px auto; }
  .layout__circle-small_line {
    top: 120px;
    left: 80px; }
  #works {
    height: auto; }
  .footer__contacts {
    font-size: 16px;
    margin-top: -10px; }
  .footer__copyright {
    font-size: 12px; }
  .works__btn {
    margin: 55px auto; } }

@media screen and (max-width: 767px) {
  .button {
    margin: 0 auto;
    display: block; }
  #menu-toggle {
    display: none; }
  .menu__items {
    margin-left: 40px; }
  .ch-item {
    width: 160px;
    height: 160px; }
  .ch-thumb {
    -webkit-box-shadow: inset 0 0 0 14px rgba(255, 255, 255, 0.7);
            box-shadow: inset 0 0 0 14px rgba(255, 255, 255, 0.7); }
  .ch-info h3 {
    margin: 0 33px;
    padding: 45px 0 0 0; }
  .triangle_1 {
    width: 30px;
    height: 30px;
    margin: 55px auto; }
  .triangle_2 {
    width: 20px;
    height: 20px;
    margin: -60px auto; }
  .experience__box-intro {
    display: none; }
  #nav-btns {
    margin: 25px 105px; }
  #experience {
    height: 500px;
    padding-top: 30px; }
  .experience__box-img1 {
    background: url(../img/hobbi1.jpeg) no-repeat center bottom;
    max-height: 100px; }
  .experience__box-img2 {
    background: url(../img/hobbi2.jpeg) no-repeat center bottom;
    max-height: 100px; }
  .experience__box-img3 {
    background: url(../img/hobbi3.jpeg) no-repeat center center;
    max-height: 100px; }
  .experience__box {
    height: 260px;
    padding: 45px 0px 0px 0px; }
  #slidewrapper .slide:last-child .slide-img .experience__box:last-child p {
    margin-top: 32px; }
  .hobbies__box-text {
    font-size: 15px; }
  #skills {
    padding-top: 20px; }
  .software {
    height: 150px; }
  .software__title {
    margin-top: 20px;
    margin-bottom: 30px; }
  .software__text {
    margin-bottom: 15px; }
  #works {
    height: auto; }
  .works__title {
    text-align: center;
    margin-left: 0px; }
  .works__line {
    margin-left: 145px; }
  .layout__circle-small {
    width: 160px;
    height: 160px; }
  .layout__circle-small_line {
    top: 110px;
    left: 48px;
    width: 174px; }
  .works__btn {
    margin: 25px auto; }
  .layout__circle, .layout {
    width: 210px;
    height: 210px; }
  .layout:hover .layout__circle {
    -webkit-transform: scale(0.83, 0.83);
        -ms-transform: scale(0.83, 0.83);
            transform: scale(0.83, 0.83); }
  .works__text p {
    font-size: 20px; } }

@media screen and (max-width: 575px) {
  .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -40px; }
  .header__title {
    margin-top: 15px;
    font-size: 20px;
    text-align: center; }
  .line {
    width: 160px;
    margin: 0 auto;
    height: 2px; }
  .header__text {
    font-size: 17px;
    text-align: center; }
  .ch-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .ch-grid li {
    margin-bottom: 10px; }
  #header {
    height: 100%; }
  .triangle {
    display: none; }
  #experience {
    height: 100%; }
  #block-for-slider {
    display: none; }
  .about {
    display: block; }
  .experience__title {
    font-size: 20px;
    text-align: center;
    margin-left: 0; }
  .experience .line {
    width: 115px;
    background: #9f9b9b; }
  .experience__box-title {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #000000; }
  .experience__box-text {
    font-size: 12px;
    color: #000000; }
  .experience__box-intro {
    display: block;
    color: #000000; }
  .hob .line {
    width: 90px;
    margin-bottom: 10px; }
  .hobbies__box-text {
    font-size: 15px;
    color: #000000;
    text-align: center; }
  #skills {
    height: 100%; }
  .skills__title {
    margin-left: 0;
    font-size: 20px;
    text-align: center; }
  .skills__line {
    width: 65px;
    margin: 0 auto;
    height: 2px;
    margin-bottom: 10px; }
  .software {
    margin: 5px auto; }
  #works {
    height: 100%;
    padding-top: 20px; }
  .works__title {
    text-align: center;
    margin-left: 0px;
    font-size: 20px; }
  .works__line {
    width: 190px;
    height: 2px;
    margin: 0px auto;
    margin-bottom: 20px; }
  .works__btn {
    margin: 33px auto; }
  .layout__circle-small_line {
    left: 50%;
    margin-left: -87px; }
  #footer {
    height: 100%; }
  .footer__copyright {
    font-size: 10px;
    margin-top: 40px; }
  .triangle_3 {
    width: 15px;
    height: 15px;
    margin: 0px auto; }
  .footer__contacts {
    font-size: 12px;
    text-align: center;
    margin-top: -65px; }
  .footer__beck {
    margin-top: -90px; }
  .footer__contacts-viber {
    display: none; } }
